.header{
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  // margin-bottom: 25px;
  align-items: center;
  background-color:#391;

  .head{
    padding: 10px 55px;
  }

  .options{
    width:50%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    padding: 10px 45px;

    .option{
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}