.collection-page{
  display: flex;
  flex-direction: column;

  .title{
    font-size:38px;
    margin: o auto 30px;
    text-align: center;
  }

  .items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }

}