.custom-button{
  min-width: 165px;
  height: 50px;
  width: auto;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0px 35px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-weight: bolder;
  font-family: 'Open Sans Codensed';
  border: none;
  cursor: pointer;
  
  &:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
  }}

  .google-sign-incustom-button{
    background-color: #4285f4;
    color: white;
    min-width: 165px;
    height: 50px;
    width: auto;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0px 35px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Open Sans Codensed';
    border: none;
    cursor: pointer;

    &:hover{
      background-color: white;
      color:black ;
      border: 1px solid black;
    }

  }

