.collection-item{
  width: 20%;
  display:flex;
  height:350px;
  flex-direction: column;
  align-items: center;
  position: relative;

  .image{
    width: 100%;
    height:95%;
    background-size: cover;
    background-position:center;
    margin-bottom: 5px;
  }

  .invertedcustom-button{
    width: 80px;
    opacity: 0.7;
    position: absolute;
    top: 260px;
    display: none;
  }

&:hover{
  .image{
    opacity: 0.9;
  }

  .invertedcustom-button{
    opacity: 0.8;
    display: flex;
  }
}
  .collection-footer{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;


    .name{
      width:90%;
      margin-bottom: 15px;
      font-size: 18px;
    }

    .price{
      font-size: 18px;
    }
  }
}